In [15]:
print(False)

False

In [17]:
print('Hello world')

Hello world

In [4]:
##Welcome

In [6]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
city = "Amravati"
temp = 25
cardon_footprints = 357.25
print(city,temp,cardon_footprints)

Amravati 25 357.25

In [9]:
t1,t2,t3 = 23, 25 , 22
print(t1,t2,t3)

23 25 22

In [2]:
t1 = int((2345))
print(t1)
type(t1)

2345

int

In [3]:
# Number datatype
complex_number = 2 + 3j
print(complex_number)
type(complex_number)

(2+3j)

complex

In [5]:
t1 = float(input("Enter the city1 temp : "))
t2 = float(input("Enter the city2 temp : "))
temp1 = round(t1,2)
temp2 = round(t2,2)
print(f"the addition of {temp1} and {temp2} is: { temp1+ temp2}")

the addition of 56.76 and 45.87 is: 102.63

In [10]:
#sequence data type
#String 
sustainable_info = "the city amravati is sustainable"
sustainable_info[-1]
sustainable_info[5:8]
sustainable_info[2:12:2]  #from 2 upto 12 and jump by 2
sustainable_info[::-1]  #reverese the string

'elbaniatsus si itavarma ytic eht'

In [11]:
len(sustainable_info)

32

In [12]:
sustainable_info.split()

['the', 'city', 'amravati', 'is', 'sustainable']

In [13]:
t1 = "     hello"
t1.lstrip()

'hello'

In [2]:
cities1 = ["nagpur","jaipur","mumbai"]
cities2 = ["amravati","akola"]
ciites3 = "aaa"
cities1.extend(cities2)
cities1.append(ciites3)
print(cities1)

['nagpur', 'jaipur', 'mumbai', 'amravati', 'akola', 'aaa']

In [4]:
cities1.insert(0,"Goa")
print(cities1)

['Goa', 'Goa', 'nagpur', 'jaipur', 'mumbai', 'amravati', 'akola', 'aaa']

In [ ]:
pos = int(input("Enter the position to insert new city :"))
city = input(f"Enter the city name you want to insert at {pos} position : ")
cities1.insert(pos,city)
print(f"The new city is inserted at {pos} is {city}")
print(f"updated list is {cities1}")

The new city is inserted at 2 is pune
updated list is ['Goa', 'Goa', 'pune', 'nagpur', 'jaipur', 'mumbai', 'amravati', 'akola', 'aaa']

In [ ]:
#tuple
state = ("MAH", "AP","GA","KEL","TS","PUN")
print(state)
type(state) # We can't change th tuple

('MAH', 'AP', 'GA', 'KEL', 'TS', 'PUN')

tuple

In [7]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
state_list = list(state)
state_list[2] = "RJ"
state_tup = tuple(state_list)
print(f"the updated tuple is : {state_tup}")

the updated tuple is : ('MAH', 'AP', 'RJ', 'KEL', 'TS', 'PUN')

In [10]:
#Dictionary datatype
city_data = {
    "city" : "nagpur",
    "temp" : 25,
    "carbon_footprint" : 375.25,
    "is_sustainable" : True
}
print(city_data)
type(city_data)

{'city': 'nagpur', 'temp': 25, 'carbon_footprint': 375.25, 'is_sustainable': True}

dict

In [11]:
#Dictionary datatype
city_data = {
    "city" : ["nagpur","Delhi","mumbai"],
    "temp" : [25,30,28],
    "carbon_footprint" : [375.25,500,475],
    "is_sustainable" : [True,False,False]
}
print(city_data)
type(city_data)

{'city': ['nagpur', 'Delhi', 'mumbai'], 'temp': [25, 30, 28], 'carbon_footprint': [375.25, 500, 475], 'is_sustainable': [True, False, False]}

dict

In [14]:
sum(city_data['temp'])

83

In [18]:
carbon_values = city_data["carbon_footprint"]
average = sum(carbon_values) / len(carbon_values)
temp = round(average,2)
print("Average Carbon Footprint:", temp)

Average Carbon Footprint: 450.08

In [20]:
temp_values = city_data["temp"]
average_temp = sum(temp_values) / len(temp_values)
print(f"Average Temperature: {average_temp:.2f}")

Average Temperature: 27.67

In [21]:
my_set = {1,2,3,4,5,6,7}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5, 6, 7}

set

In [26]:
new_set = set()

print(new_set)
type(new_set)

set()

set

In [28]:
#if conditions
cf = 675.25
if cf < 500 :
    print("City is sustainable")
    print("inside If block")
print("outside if block")

outside if block

In [1]:
waste_type = input("Enter your waste type(plastic/organic/electronic): ")
if waste_type == 'plastic':
    print("You can recycle the plastic")
elif waste_type == "organic":
    print("You can create compost of it")
elif waste_type == "electronic":
    print("Deposit it to nearest collection center")
else:
    print("Kindly enter valid waste type....")
print("Thank you")

You can recycle the plastic
Thank you

In [2]:
energy_cons=float(input(" Enter Energy Consumption(kwh): "))
recycle_rate=int(input("Enter recycling rate: "))
emmision_level=int(input("Enter emission level: "))
if energy_cons<1000:
    if recycle_rate>50:
        if emmision_level<20:
            print("Sustanability is excellent")
        else:
            print("Reduce emmision level")
    else:
        print("Sustanability need improvement")
else:
    print("Need sustainable improvements")

Sustanability need improvement

In [4]:
#Definite Loop : for loop
s1 = "Sustanibility"
for char in s1:
    print(char,end = ' ')

S u s t a n i b i l i t y

In [7]:
temp = [23,30,25,28,27,31,26]
for day in temp :
    if day == 26 :
        print(day)

26

In [10]:
total = 0
count = 0
for day in temp :
    total = total + day
    count = count +1
print(total)
print(count)
print(total/count)

190
7
27.142857142857142

In [11]:
user_input = ''
while user_input != 'quit' :
    user_input = input("Enter something display or quit")
    print(f"You have entered: {user_input}")
print("Quitting....")
print("Thank you....!")

You have entered: hjwh
You have entered: wok
You have entered: jwi
You have entered: quit
Quitting....
Thank you....!

In [13]:
for num in range(10):
    print(num)

for num in range(1,51,2):
    print(num)

0
1
2
3
4
5
6
7
8
9
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [2]:
n = int(input("Enter the number:"))
total = 0
for num in range(1,n+1) :
    total += num
print(total)

55

In [5]:
def add() :
    a=10
    b=20
    c=a+b
    return c
print(add())

30

In [6]:
def addThree(a,b,c):
    total = a + b + c
    return total
addThree(10,20,30)

60

In [7]:
def greet(name,age):
    print(f"Welcome {name} you are {age} year old")
greet(age = 25,name = "Raj")

Welcome Raj you are 25 year old

In [8]:
def addn(*numbers):
    tot =0
    for num in numbers:
        tot += num
    return tot
addn(10,2,10,5)

27

In [1]:
class Building :
    pass
b1 = Building()
b1.name = "CSE_building"
b1.energy_cons = 1500

print(b1.name)

CSE_building

In [2]:
class Building :
    def __init__(self,name,energy_cons):
        self.name = name
        self.energy_cons = energy_cons

b1 = Building("CSE",1200)
b2 = Building("ETC",1100)

print(b1.name)

CSE

In [7]:
class Building :
    def __init__(self,name,energy_cons):
        self.name = name
        self.energy_cons = energy_cons
    
    def calculate_carbon_footprints(self):
        return self.energy_cons * 0.53
b1 = Building("CSE",1200)
b2 = Building("ETC",1100)
b1.calculate_carbon_footprints()

636.0