In [3]:
import pandas as pd 
import numpy as np

In [ ]:
water_waste=[15,20,10,21,14,13,12]
days=["monday","tursday","wednesday","thusday","friday","saturday","sunday"]
water_waste_ser = pd.Series(water_waste, index = days)
print(water_waste_ser)
print(type(water_waste_ser))
print(water_waste_ser.iloc[6]) # Gives the Location

monday       15
tursday      20
wednesday    10
thusday      21
friday       14
saturday     13
sunday       12
dtype: int64
<class 'pandas.core.series.Series'>
12

In [5]:
city_data = {"Name": "Nagpur",
             "Temperature" : 32,
             "Humidity": 45,
             "AQI" : 99.01,
             "CF": 375.25
             }
city_ser_dict = pd.Series(city_data)
print(city_ser_dict)

Name           Nagpur
Temperature        32
Humidity           45
AQI             99.01
CF             375.25
dtype: object

In [22]:
#Series From ndarray
a = np.random.randint(10,20,size = (10))
b = np.random.randint(10,20,size = (15))
print(a,b)

a_ser = pd.Series(a)
b_ser = pd.Series(b)
# print(a_ser)
# print(b_ser)

add_ser = a_ser + b_ser
print(add_ser.apply(lambda x : x**1/2))

print(add_ser.head()) # Similar tail
print(add_ser.isna().sum())
print(add_ser.fillna(add_ser.mean()))

[17 10 15 11 11 18 12 11 16 12] [19 11 16 18 10 19 12 12 10 11 18 16 12 16 19]
0     18.0
1     10.5
2     15.5
3     14.5
4     10.5
5     18.5
6     12.0
7     11.5
8     13.0
9     11.5
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
dtype: float64
0    36.0
1    21.0
2    31.0
3    29.0
4    21.0
dtype: float64
5
0     36.0
1     21.0
2     31.0
3     29.0
4     21.0
5     37.0
6     24.0
7     23.0
8     26.0
9     23.0
10    27.1
11    27.1
12    27.1
13    27.1
14    27.1
dtype: float64

In [23]:
print(add_ser.info()) 
print(add_ser.describe())

<class 'pandas.core.series.Series'>
Index: 15 entries, 0 to 14
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 240.0 bytes
None
count    10.000000
mean     27.100000
std       5.915141
min      21.000000
25%      23.000000
50%      25.000000
75%      30.500000
max      37.000000
dtype: float64

In [ ]:
# Problem Statement:
# Use Pandas Series to analyze Temperature data of a city over a week and draw insights from the data.
# Dataset:
# Sample temperature data
# temp_data = [36, 37, 27, 25, 30, 32, 41]
# days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
# Steps to Perform
# 1.	Create a Pandas Series for temperature data
# •	Use a list of daily temperature figures to create a Pandas Series
# •	Assign days of the week as the index
# 2.	Access and manipulate temperature data
# •	Access temperature data for specific days using index labels
# •	Calculate total temperature for the week
# •	Identify the day with the highest and lowest temperature
# 3.	Basic analysis of temperature data
# •	Calculate the average temperature for the week
# •	Determine any days with temperature figures significantly different from the average

import pandas as pd

temp_data = [36, 37, 27, 25, 30, 32, 41]
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

temp_ser = pd.Series(temp_data, index = days_of_week)
print(temp_ser)

total_temp = temp_ser.sum()
print(total_temp)

avg_temp = temp_ser.mean()
print(avg_temp)
 
highest_temp_day = temp_ser.idxmax()
lowest_temp_day = temp_ser.idxmin()
print(highest_temp_day, lowest_temp_day)

days_above_avg = temp_ser[temp_ser > avg_temp]
print(days_above_avg)

Monday       36
Tuesday      37
Wednesday    27
Thursday     25
Friday       30
Saturday     32
Sunday       41
dtype: int64
228
32.57142857142857
Sunday Thursday
Monday     36
Tuesday    37
Sunday     41
dtype: int64

In [1]:
import pandas as pd
waste_data = {"waste_type":["plastic","organic","electronic"],
              "quantity":[12,15,30],
              "recyclable": ["yes","no","yes"]
              }
waste_data_df = pd.DataFrame(waste_data)
waste_data_df

   waste_type  quantity recyclable
0     plastic        12        yes
1     organic        15         no
2  electronic        30        yes

In [2]:
import pandas as pd
waste_list = [["plastic",15,True],["organic",25, False],["electronic",35,True]]
waste_data_df = pd.DataFrame(waste_list,coloumn = ["waste_type","quantity","recyclable",])
waste_data_df

TypeError: DataFrame.__init__() got an unexpected keyword argument 'coloumn'

In [3]:
import numpy as np
salary_data = np.array([["raj",28,50000],["simran",26,60000],["rahul",29,75000]])
col = ["name","age","salary"]
salary_df = pd.DataFrame(salary_data,columns=col)
salary_df

     name age salary
0     raj  28  50000
1  simran  26  60000
2   rahul  29  75000